PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
# No Docker Compose utilize o nome do serviço: "postgres" (ou "casecellshop-postgres")
# Para rodar o app localmente fora do Docker (host), altere para: "localhost"
DB_HOST=postgres
DB_PORT=5432
DB_USER=casecellshop
DB_PASSWORD=casecellshop_pwd
DB_NAME=casecellshop_db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# Redis
# No Docker Compose utilize: "redis" (ou "casecellshop-redis"). Localmente utilize: "localhost"
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
# No Docker Compose utilize: "rabbitmq" (ou "casecellshop-rabbitmq"). Localmente utilize: "localhost"
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=casecellshop
RABBITMQ_PASSWORD=casecellshop_pwd
RABBITMQ_URL="amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}"

# Queue Settings
ORDERS_QUEUE_NAME=orders.process
ORDERS_DLQ_NAME=orders.dlq
