PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=casecellshop
DB_PASSWORD=casecellshop_pwd
DB_NAME=casecellshop_db
DATABASE_URL="postgresql://casecellshop:casecellshop_pwd@localhost:5432/casecellshop_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Queue Settings
ORDERS_QUEUE_NAME=orders-checkout-queue
ORDERS_DLQ_NAME=orders-checkout-dlq
